footer{
    background-color: #eee;
    color: #000;
    padding: 20px;
    margin-top: 40px !important;
}

h1{
    margin: 40px auto 20px auto !important;
    font-size: 25px;
    background-color: #ccc;
    padding: 10px;
}

.bbs{
    border: solid 1px #ccc;
    padding: 15px;
    margin: 10px auto;
}

.tag{
    border: solid 1px #999;
    margin: 5px;
    border-radius: 3px;
}

h2{
    font-size: 20px;
    padding: 5px;
    margin: 10px auto;
}

h3{
    font-size: 20px;
    padding: 5px;
    text-decoration: underline;
}

.inquiry{
    width: 600px;
    margin: 20px auto;
    border: solid 1px #ccc;
    padding: 20px;
}